---
title: Blog
comments: false
suppress_header: true
description: "Visit the GitLab blog to learn about releases, applications, contributions, news, events, and more."
extra_css:
  - blog-homepage.css
extra_js:
  - blog-home.js
---

- featured_articles = blog.articles.keep_if{ |a| a.data.featured}[0...2]
- non_featured_articles = blog.articles.delete_if{ |a| featured_articles.include?(a) ||  a.data.categories.include?("unfiltered")}
.blog.list
  .wrapper
    .section
      = partial "includes/blog/category-nav"

      = partial "includes/newsletter-signup.html"

  = partial "includes/blog/featured-list-without-unfiltered", locals: {articles: featured_articles}

  - unless featured_articles.empty?
    .wrapper
      .section
        %h3 Recent Posts

  = partial "includes/blog/list-without-unfiltered", locals: {articles: non_featured_articles[0...4]}

  = partial "includes/blog/try"

  = partial "includes/blog/list-without-unfiltered", locals: {articles: non_featured_articles[4...8]}

  = partial "includes/blog/install"

  = partial "includes/blog/list-without-unfiltered", locals: {articles: non_featured_articles[8...12]}

  .wrapper
    .section
      %a.browse{href: "/blog/archives.html"} Browse the archives
